* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #a1c6ea;
  margin: auto;
  font-family: "Inter", sans-serif;
}
h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.first {
  border-style: solid;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 2rem 1rem;

  font-weight: 100;
  border-spacing: 20px;
  margin-bottom: 32px;
}
#first {
  text-align: justify;
  /* padding: auto 4.3rem; */
}
.faq-cont {
  width: 80%;
  margin: auto;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
}

p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
}
.foot {
  /* position: fixed;
  bottom: 0;
  right: 0;
  top: 26rem; */
}
footer {
  margin-top: 13rem;
  margin-bottom: 2rem;
  float: right;
  padding-right: 5rem;
}

.logo-mobile,
.faq-mobile {
  display: none;
}

@media (max-width: 425px) {
  .faq-cont {
    width: 85%;
    padding-right: 2rem;
  }

  .foot {
    font-size: 12px;
    float: right;
  }
  footer {
    padding-right: 2rem;
  }
  body {
    background: #bbd1ea;
  }
  .first {
    background: #dae3e5;
    border: none;
    border-radius: 20px;
  }
  .text {
    display: none;
  }
  .logo-mobile,
  .faq-mobile {
    display: block;
  }
  .logo-mobile {
    padding: 63px 0 0 45px;
  }
  .faq-mobile {
    margin-bottom: 39px;
  }
  .first,
  #first {
    text-align: left;
  }
}
