* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2px 5px 1px 2px;
  background: #bbd1ea;
  height: 60px;
  left: 0px;
  right: 0px;
  /* font-family: "Inter", sans-serif;
  font-style: normal; */
}

.link {
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  padding: 25px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}

#signup {
  background-color: rgb(56, 44, 124);
  color: white;
  border-radius: 13px;
  padding: 10px 35px;
  background: #2f5da8;
}

#login {
  background-color: rgb(252, 252, 255);
  color: black;
  border-radius: 13px;
  padding: 10px 35px;
  margin: 0px 50px;
  box-sizing: border-box;

  border: 1px solid #507dbc;
}

.logo {
  /* width: 422px; */
  height: 77px;
  padding: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.p1 {
  text-align: center;
  /* width: 789px; */
  /* height: 77px; */
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;

  /* Inside auto layout */

  /* flex: none;
  order: 0;
  flex-grow: 0; */
}

#p1 {
  /* font-size: 30px; */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 77px;
}

.strong {
  color: rgb(50, 40, 71);
}
.p2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 300px 10px 300px;
}

.iconify {
  font-size: 3rem;
}

.mainp {
  text-align: center;
  margin: 20px 200px 20px 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.grid {
  display: flex;
}

.p {
  text-align: center;
  font-family: "Inter";
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 25px;
}

.pp {
  text-align: center;
  font-family: "Inter";
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 25px;
}

.box {
  align-items: center;
  justify-content: center;
  background: #e7effb;
  margin: 20px 40px 10px 120px;
  padding: 10px 20px;
  box-sizing: border-box;
  /* color 3 */

  border: 1px solid #a1c6ea;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.innerbox {
  padding: 10px;
}

.red {
  color: brown;
}

.more {
  text-align: right;
  padding: 10px 90px;
  /* Color 1 */
  font-size: 19px;
  color: #04080f;
  font-family: "Inter", sans-serif;
  font-style: normal;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.morearrow {
  font-size: 20px;
}

.trustedlogos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
  margin-bottom: 90px;
}

.tlogo {
  font-size: 20px;
}

.section2 {
  /* background-image: url("./Assets/Images/about-us.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  padding: 2rem;
}

.aboutus {
  background-color: #687fa5;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 1150px;
  padding: 5px 7px 5px 20px;
  color: white;
}

.aboutus2 {
  display: flex;
  justify-content: space-between;
  padding: 5px 2px;
  margin: 15px;
  /* background-color: #507dbc; */
}

.aboutus22 {
  background-color: white;
  padding: 10px 30px;
}

.aboutus3 {
  background-color: white;
  padding: 5px 2px;
  margin: 50px 15px;
}

.h4 {
  margin: 20px 25px;
}

.h4p {
  padding: 10px;
  margin-bottom: 50px;
}

.aboutus44 {
  background-color: white;
  padding: 40px 40px;
}

.aboutus4 {
  display: flex;
  justify-content: space-between;
  padding: 5px 2px;
  margin: 15px;
  margin-bottom: 70px;
}

.plast {
  text-align: center;
}

.footer1 {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 20px 0px;
  color: white;
  background: #001a40;
}
.divf1 {
  padding: 10px;
}

.pf1 {
  padding: 15px;
  color: white;
  text-decoration: none;
}

.footer2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #001a40;
  color: white;
  padding: 15px;
}

.copyright {
  font-size: 20px;
  align-items: center;
}
