* {
  margin: 0px;
  padding: 0;
}
body {
  background-color: #a1c6ea;
  margin: auto;
  font-family: "Inter", sans-serif;
}
h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.searchs {
  display: none;
}
.texters,
.text {
  border: none;
  width: 50vw;
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}
.mob-text {
  display: none;
}
#fb,
#lk,
#wa,
#tw,
#go {
  width: 35px;
  height: 30.5px;
  /* top: 8px;
  left: 10px; */
}

.foot-text {
  /* padding: 0 29px 0 28px; */
}
.foot {
  margin-top: 24rem;
  margin-bottom: 2rem;
  float: right;
  padding-right: 5rem;
}
.icons {
  display: flex;
  gap: 43px;
  align-items: center;
}
.socials {
  display: flex;
  gap: 5px;
}
.logo-mobile,
.sup-mobile {
  display: none;
}

.socials #fb:hover {
  background-color: rgb(141, 141, 252);
  border-radius: 10px;
}
.socials #lk:hover {
  background-color: rgb(205, 205, 255);
  border-radius: 10px;
}
.socials #wa:hover {
  background-color: rgb(0, 212, 46);
  border-radius: 10px;
}
.socials #tw:hover {
  background-color: rgb(34, 34, 243);
  border-radius: 10px;
}
.socials #go:hover {
  background-color: rgb(253, 239, 42);
  border-radius: 10px;
}

@media (max-width: 425px) {
  .logo-mobile,
  .sup-mobile {
    display: block;
  }
  .logo-mobile {
    padding: 63px 0 0 45px;
  }
  #head,
  .text {
    display: none;
  }
  .mob-texter {
    width: 85%;

    display: flex;
    flex-direction: column;
    margin: 6rem auto 0;
    text-align: center;
  }
  .mob-text {
    display: block;
    font-size: 14px;
    /* padding-bottom: 6px; */
  }
  #mob-texters {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
  }
  .searchs {
    /* border: 1px solid black; */
    display: flex;
    /* gap: 5px; */
    width: 80%;
    align-items: center;
    border-radius: 20px;
    background: #dae3e5;
    justify-content: space-around;
    justify-items: center;
    margin: auto;
    padding: 1rem 0rem 1rem 1rem;
    /* margin: 34px 28px 0 27px; */
  }
  .searchs input {
    border: none;
    background: none;
    outline: none;
    padding: 16px 0 16px 5px;
    font-size: 14px;
  }

  .searchs input::placeholder {
    font-size: 14px;
  }
  .foot {
    margin-top: 10rem;
  }
  .vec-mobile {
    /* padding: 16px 93px 16px 27px; */
  }
  .foot-text {
    display: none;
  }
  .sup-mobile h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}
