@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  width: 100%;
  background-image: linear-gradient( to bottom right, rgb(80, 125, 188), rgb(218, 227, 229) );
  position: relative;
  display: flex;
  overflow-x: hidden;
}

/* Side Menu bar Section*/

#menu {
  background: #e7effb;
  width: 371px;
  /* height: 100%; */
  height: 1787px;
}
#menu 
.logo {
  padding: 30px 0 0 30px;
  align-items: center;
}

#menu 
.logo 
img {
  width: 270px;
  margin-left: 40px;
}

#menu 
.items {
  margin-top: 40px;
}

ul {
  margin-left: 50px;
  padding: 30px;
}

#menu 
.items 
li {
  list-style: none;
  padding: 30px 0;
  transition: 0.3s ease;
}


.active {
    border-left: 4px solid #507dbc;
    color: #292626;
}

ul 
.active {
    color: #292626;
}

#menu 
.items 
li 
a {
  text-decoration: none;
  color: rgba(41, 38, 38, 0.6);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  transition: 0.3s ease;
}

/* styling of the My Profile */
.my-profile {
    font-size: 32px;
    font-style: "semi bold";
    align-items: center;
    margin-left: 7.3rem;
    padding: 30px 30px 30px 0;
    border-bottom: 1px solid #000;
}

/* Styling of the Iconify Icons */
#menu 
.items 
li 
iconify-icon {
    position: relative;
    top: 9px;
    left: 5px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    margin: 0 25px 0 30px;
  }
  /* Styling of the Iconify Icons end */

  /* The hover effects */
#menu 
.items 
li:hover {
    background: #BBD1EA;
    cursor: pointer;
  }
  
  #menu 
  .items 
  li:hover 
  a {
      color: #292626;
  }

  .menu-btn:hover {
    width: 210px;
    background: #507dbc;
  } 
  /* Hover effects ends */
  

  /* Personal Information Section */

  #profile 
  .personal-info {
    width: 100%;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    margin: 15rem;
    margin-top: 10rem;
    margin-left: 10rem;
  }

  #profile 
  .personal-info 
  .intro-profile{
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-top: -5rem;
    width: 100%;

  }

  #profile 
  .personal-info 
  .intro-profile 
  .intro {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 2rem;
    margin-top: -2rem;
    width: 100%;
  }
  
  .profile1 
  img{
    position: absolute;
    top:15rem;
    /* right:10rem; */
    left: 35rem;
    width: 150px;
    margin-left: -2rem;
    margin-right: 2rem;
    /* height: 158px; */
  }

  .profile1 
  .username {
    width: 262px;
    height: 68px;
    margin-left: 10rem;
    border-radius: 20px;
    border: none;
    
  }

 .edit-btn {
    width: 172px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    background-color: #040507;
    border: none;
    margin-left: 10rem;
    cursor: pointer;
 }

 .profile1 
 input{
    padding: 12px 20px;
    font-size: 20px;
    margin-top: 5rem;
    margin-bottom: -15rem;
 }
  
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
  }

  form 
  label{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 2rem;
    margin-left: 2rem;
  }

  .form 
  input {
    width: 453px;
    height:93px;
    background:  #DAE3E5;
    border: 1px solid #040507;
    border-radius: 20px;
    margin: 1rem;
    padding: 12px 20px;
    font-size: 20px;    
  }

  ::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-left: 15px;
  }

  .input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: -35rem;

  }

  .input-btn 
  .submit-btn {
    border-radius: 0;
    width: 236px;
    color: #fff;
    background: #040507;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
  }

  .input-btn 
  .cancel-btn {
    border-radius: 0;
    width: 236px;
    color: #000;
    background: transparent;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
  }
  