@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
  display: flex;
  overflow-x: hidden;
}

/* Side Menu bar Section*/

#menu {
  background: #e7effb;
  width: 371px;
  height: 100%;
  /* height: 1024px; */
}
#menu 
.logo {
  padding: 30px 0 0 30px;
  align-items: center;
}

#menu .logo img {
  width: 270px;
  margin-left: 36px;
}

#menu 
.items {
  margin-top: 40px;
}

ul {
  margin-left: 50px;
}

#menu 
.items 
li {
  list-style: none;
  padding: 15px 0;
  transition: 0.3s ease;
}

#menu 
.items 
li:nth-child(6) {
  margin-top: 6rem;
}

.active {
    border-left: 4px solid #507dbc;
    color: #292626;
}


a:is(:link, :active, :visited).active{
    border-left: 4px solid #507dbc;
    color: #292626;
}

#menu 
.items 
li 
a {
  text-decoration: none;
  color: rgba(41, 38, 38, 0.6);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  align-items: center;
  transition: 0.3s ease;
}
/* styling of the upload button */
.menu-btn {
  position: relative;
  width: 206px;
  height: 60px;
  top: 10px;
  left: 5px;
  border-radius: 20px;
  padding: 12px 24px 12px 16px;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  background: #507dbc;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-bottom: 2rem;
  margin-left: 3.1rem;
  text-align-last: center;
}

#menu 
.upload-btn 
input {
    position: relative;
    top: 3em;
    left:5rem;
}



.menu-btn 
span{
    position: relative;
    left: 14px;
}

.menu-btn 
iconify-icon {
  position: absolute;
  top: 20px;
  left: 8px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  margin: 0 20px 0 25px;
  padding-right: 10rem;
}
/* Styling of upload button end */


/* Styling of the Iconify Icons */
#menu 
.items 
li 
iconify-icon {
  position: relative;
  top: 9px;
  left: 5px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  margin: 0 25px 0 30px;
}
/* Styling of the Iconify Icons end */

/* The hover effects */
#menu 
.items 
li:hover {
    background: #BBD1EA;
    cursor: pointer;
  }
  
  #menu 
  .items 
  li:hover 
  a {
      color: #292626;
  }

  .menu-btn:hover {
    width: 210px;
    background: #507dbc;
  } 
  /* Hover effects ends */

/* Menu bar/items end */



/* Navigations Section*/
.search {
    position: relative;
    border: .5px solid rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 8rem;
    margin-right: 2.1rem;

}

.search iconify-icon {
    position: absolute;
    font-size: 24px;
    left: 13px;
    top: 9px;
    color: #746C6C;

}

.search 
input {
    position: absolute;
    border: none;
    left: 50px;
    width: 200px;
    height: 40px;
    background: transparent;
    font-weight: 300;
    font-size: 20px;
    border-color: none transparent;
    outline: none;
}

::placeholder {
       padding-right: 2rem;
       font-weight: 400;
  }

  .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 40px;
    border: .5px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-right: 5rem;
    margin-left: 5rem;

  }
  

 .custom-selector {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #746C6C;
 }

 .custom-selector 
 select {
    width: 150px;
    min-height: 40px;
    background: transparent;
    border: none;
    border-radius: 3px;
    padding: 0 10px;
    cursor: pointer;
    appearance: none;
    font-size: 20px;
    color: rgba(116, 108, 108, 0.3);
    border-color: none transparent;
    outline: none;

 }

 
#interface {
    width: calc(100% - 371px);
    
}

#interface 
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    
}

#interface 
.navigation 
.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1.5rem;
}



#interface 
.navigation 
.profile 
iconify-icon {
    margin-right: 20px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 100;
    width: 45.17px;
    height: 40px;
}

#interface 
.navigation 
.profile a{
    text-decoration: none;
    color:#343335;
}



#nav-menu  
li{
    display: inline;
    list-style: none;    
}

#nav-menu  
li 
a:hover {
    color: #292626;
    transition: 0.3s ease;
}



.active2 {
    border-bottom:10px solid #507dbc;
    margin-left: -1rem;
    margin-right: 1rem;
           
}

#nav-menu  
li 
a {
    text-decoration: none;
    padding: 10px;
    padding-left: 2px;
    background-color: transparent;
    color: #746C6C;
    font-weight: 600;
    font-size: 20px;
    
    
}

#nav-menu 
li 
.d-e-s {
    font-size: 16px;
    font-weight: 400;
    margin-right: 2rem;
}

.d2 {
    margin-left: -1em;
    margin-right: 1em;
}
.item1 {
    margin-right: 1.2rem;
    margin-left: 1em;
    
}

.item2 {
    margin-left: 22rem;
}


#nav-menu 
ul{
    width:1025px;
    border-bottom: 1px solid #507DBC;
    overflow: hidden; 
    padding: 2px 5rem 10px 10px;    
}

/* Values Section*/

.values {
    padding: 40px;
    margin-top: 50px;
    margin-left: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 5rem;
    border-radius: 10px;

}

.values 
.val-box {
    background: #D9D9D9;;
    width: 295px;
    height: 295px;    
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    
}

.values 
.val-box
.box4 {
    border: 1px solid #343335
}

.values 
.val-box
.box4
.name {
    position: absolute;
    left: 200rem;;
}

.values 
.val-box 
svg{
    color: #E7EFFB;
    width: 75px;
    height: 75px;
}

.values 
.val-box 
svg{
    position: absolute;
    top: 112px;
    left: 112px;

}

.values 
.val-box 
.name {
    position: absolute;
    bottom: .1rem;
    width: 295px;
    height: 58px;
    background: #fff;
    border: 1px solid #343335;
    border-bottom: transparent;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow:  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
    text-align: center;
    color: #507DBC;
    font-style:italic;
    padding-top: 1em;

}

.values 
.val-box  
span {
    margin-right: 8rem;
    margin-bottom: -5rem;
   
}

.values 
.val-box
.box4 
span {
    margin-right: 5rem;
    margin-bottom: 10rem;
}


/* Folder Section */
.folder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  8rem;
    margin-left: 8rem;
}

.folder 
.folder-type 
svg {
    width: 173.79px;
    height: 133.33px;
    color: #507DBC;

}

.folder 
.folder-type 
a {
    text-decoration: none;
} 

.folder 
.folder-type 
span {
    text-align: center;
    margin-left: 3rem;
}

/* Saved, Downloaded and Trash Section  */
.nav2 {
    margin-left: 23rem;
}
.item3 {
    margin-right: 8.5rem;
}
.item4 {
    margin-right: 1.7rem;
}
.item5 {
    margin-right: 4.3rem;
}


.icons {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 10em;
    margin-left: 8em;
    margin-right: 0;
}

.icons svg {
    width: 170px;
    height: 120px;
    color: #507DBC;
}

.icons a {
    color: #27487C;
}

/* Responsive Pages */

.n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.n1 span {
    display: none;
}


.closebtn {
    position: absolute;
    top: .3em;
    left: 3em;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 50px;
    color: #000;
    display: block;
    transition: 0.3s;
    display: none;
  }

  .upload-btn-mobile {
    display: none;
  }



@media (max-width: 477px) {
    body {
        background: #E7EFFB;
    }
    

    #menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: #83A6D8;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      .n1 span {
        display: initial;
    }
      .closebtn {
        display: initial;
      }
    
    
    main #interface{
        width: 100%;
        left: 0;
    }

    #interface 
    .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #E7EFFB;
    padding: 15px 30px;
}



.search {
    width: 400px;
    height: 60px;    
}



 .item1 {    
    float: right;
    
}

    

.values {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-column-gap: 20px;
        padding: 30px 30px 20px 30px;
        margin-left: 0;
        margin-right: -50px;
}

    
  
    #nav-menu 
    ul {
    width: 100%;
    left: 0;
    border-bottom: 1px solid #507DBC;
    overflow: hidden;
    padding: 2px 5rem 10px 10px;
}




    #interface 
    .navigation
    .category {
        display: none;
    }

    .d-e-s {
        display: none;
    }

    #interface 
    .navigation 
    .profile 
    iconify-icon {
    display: none;
    }

   

    .upload-btn {
        display: none;
    }
    

    .folder {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .folder-type {
        grid-template-columns: 1fr;
    }

    .folder 
    .folder-type
    svg {
    margin-top: 4rem;
    margin: 2rem;
    margin-right: 1rem;
}

    .folder 
    .folder-type 
    span {
    margin-left: -9rem;
    margin-top: 2rem;   
    
}

#nav-menu  
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    list-style: none;
    
}

#nav-menu  
ul.item1 {    
    margin-left: 10em;
    
}

.navbar {
    justify-content: space-evenly;
    padding-bottom: 2px
}

.m-f {  
    padding-right: 30rem;  
    margin-left: -20em;
    margin-left: 0;
    padding: 0;
}


.active2 {
    border-bottom: 10px solid #507dbc;    
    margin-right: 20rem;    
}

.item-1 {
    margin-left: 10rem;
    margin-right: -20rem;
}

.item-1:is(:link, :active, :visited){
    border-bottom: 10px solid #507dbc;
    color: #292626;
}

.mobile-btn {
    position: absolute;   
    right: 16.67px;    
    bottom: 16.67px;
    border-radius: 50%;
    border: none;
    background: #507dbc;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 24px;
}

.upload-btn-mobile
input{
    position:absolute;
    right: 120rem;
    border: none;
    font-size: 0.2px;
    color: #E7EFFB;
    display: hidden;
}

}